<div class="pagination" *ngIf="listOfAvailablePages.length > 1">
  <ul>
    <li *ngIf="this.paginationService.currentPage > 1" (click)="onPageSelection(1)">&lt;&lt;</li>
    <li *ngIf="this.paginationService.currentPage > 1" (click)="onAdjacentPageSelection(-1)">&lt;</li>
    <li *ngFor="let pageNum of listOfAvailablePages"
        (click)="onPageSelection(pageNum)"
        style="padding:10px;cursor:pointer">
      <span *ngIf="pageNum !== this.paginationService.currentPage; else current_page">{{ pageNum }}</span>
      <ng-template #current_page>
        <span style="background: #ccc">{{ pageNum }}</span>
      </ng-template>
    </li>
    <li *ngIf="this.paginationService.currentPage < listOfAvailablePages.length"
        (click)="onAdjacentPageSelection(1)">&gt;</li>
    <li *ngIf="this.paginationService.currentPage < listOfAvailablePages.length"
        (click)="onPageSelection(listOfAvailablePages.length)">&gt;&gt;</li>
  </ul>
</div>
